@charset "ISO-8859-1";
.body {
    color: #ffffff;
    margin: 0;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.43;
    background-color: #F4F8FA;
    
}
.jss3820{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.header {
    margin-top: -10px;
    margin-left: -10px;
    position: absolute;
    height: auto;
    padding: 10px 0px 10px 10px;
    width: 100%;
    z-index: 1300;
    background: #ffffff;
    min-width: 1034px;
}
.header-body {
    max-width: 1200px;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin: 0 auto;
}
.body-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-body-logo {
    display: contents;
}
.header-body-items {
    width: calc(100% - 265px);
    padding-right: 0;
    flex-direction: column;
    padding-left: 0;
    justify-content: flex-end;
}
.header-body-items1   {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}
.header-body-items2 {
    position: relative;
}
.items {
    width: 100%;
    margin: 0;
    display: flex;
    padding: 0;
    list-style: none;
    margin-left: auto;
    justify-content: flex-end;
    
}
.items li {

    padding: 10px 10px;
    align-items: center;
    text-transform: uppercase;
    font-family: KoHo, sans-serif;
    display: block !important;
}
.item1 {
    color: #000000;
    color: inherit;
    transition: all .35s;
    font-weight: 600;
}
.span1 {
    font-size: 16px;
    color: #000000 !important;
    padding-right: 10px;
    font-style: normal;
    font-weight: bold;
    line-height: 1.13;
    margin-left: 7px;
    font-stretch: normal;
    letter-spacing: normal;
    font-family: KoHo, sans-serif;
}
.jss2636 {
    color: #000000;
    display: -webkit-box;
    overflow: hidden;
    font-size: 16px;
    transition: all .35s;
    text-overflow: ellipsis;
    text-decoration: none;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.login {
    color: #000000;
    text-decoration: none;
}
.items :hover {
    color: red;
}
.span1 :hover {
    color: red;
}
.header-body-logo {
    font-size: 24px;
    font-weight: 800;
    color: red;
    font-family: KoHo, sans-serif;
}

body {
    background: #F4F8FA;
    display: block;
    margin: 8px;
}
.jss11 {
    width: 100%;
    padding: 12px 0 0 0;
    z-index: 1000;
}
.jss9 {
    color: #1a202c;
    font-size: 16px;
    font-weight: normal;
    line-height: 17px;
    background-color: #F4F8FA;
}
.jss71 {
    width: 100%;
    margin: 0 auto;
    display: flex;
    max-width: 1188px;
    flex-direction: column;
}
.jss75 {
    width: 100%;
    display: flex;
    padding: 8px;
    background: white;
    align-items: center;
    border-radius: 8px;
    justify-content: space-between;
}

.jss99 {
    margin-left: 20px;
}
.jss80 {
    margin-left: 16px;
}
.jss81 {
    border-left: 1px solid #E2E8F0;
}
.MuiButton-containedSecondary {
    color: #fff;
    background-color: #FF3366;
}
.MuiButton-contained {
    color: rgba(0, 0, 0, 0.87);
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    background-color: #e0e0e0;
}
.MuiButton-root {
    color: rgba(0, 0, 0, 0.87);
    padding: 0 8px;
    font-size: 14px;
    min-width: unset;
    box-sizing: border-box;
    min-height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: Mt;
    font-weight: 500;
    line-height: auto;
    border-radius: 4px;
    text-transform: none;
 
}
.MuiButtonBase-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}
html, body {
    width: 100%;
    height: 100%;
  }
.jss8 {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(250, 252, 255);
}
.jss90 {
    margin-top: 80px;
}

.jss11 {
    width: 100%;
    padding: 12px 0 0 0;
    z-index: 1000;
}

.jss75 {
    width: 100%;
    display: flex;
    padding: 8px;
    background: white;
    align-items: center;
    border-radius: 8px;
    justify-content: space-between;
}

.MuiButton-label {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}
svg {
    display: block;
}
div {
    display: block;
} 
:root {
    --fa-font-solid: normal 900 1em/1 "Font Awesome 6 Free";
}
.jss2 {
    width: 100%;
    background: #F4F8FA;
}
.jss3 {
    margin: 0 auto;
    max-width: 1188px;
}
.jss4 {
    width: 100%;
    display: flex;
    align-items: flex-start;
}
.jss6 {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    justify-content: space-between;
}
.jss7 {
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
}
.MuiTypography-colorTextSecondary {
    color: rgba(0, 0, 0, 0.54);
}
.MuiTypography-body1 {
    font-size: 16px;
    font-family: Mt;
    font-weight: normal;
    line-height: 20px;
}
.MuiTypography-root {
    margin: 0;
}
.MuiBreadcrumbs-ol {
    margin: 0;
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
}
.MuiBreadcrumbs-separator {
    display: flex;
    margin-left: 8px;
    user-select: none;
    margin-right: 8px;
}
.MuiLink-underlineHover {
    text-decoration: none;
}
.MuiTypography-colorInherit {
    color: inherit;
}
.MuiTypography-root {
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
.MuiTypography-body2 {
    font-size: 14px;
    font-family: Mt;
    font-weight: normal;
    line-height: 14px;
}
.jss141 {
    display: flex;
}

.MuiTypography-colorPrimary {
    color: #00B6F3;
}
.jss138 {
    color: #1a202c;
}
.jss142 {
    display: flex;
    align-items: center;
}
.jss143 {
    display: flex;
    align-items: center;
}
.jss4469 {
    color: #1a202c;
    border: 1px solid #E2E8F0;
    display: flex;
    padding: 16px;
    z-index: 1;
    box-shadow: 0px 8px 8px rgb(0 0 0 / 10%);
    align-items: flex-start;
    border-radius: 8px;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #FFFFFF;
}
.jss4472 {
    cursor: pointer;
    display: flex;
    padding: 10px 8px;
    min-width: 260px;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 4px;
}

.jss4204 {
    color: #1a202c;
    width: 100%;
    display: flex;
    padding: 16px;
    z-index: 1;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}
.MuiGrid-spacing-xs-3 {
    width: calc(100% + 24px);
    margin: -12px;
}
.MuiGrid-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: center;
}
.MuiGrid-spacing-xs-3 > .MuiGrid-item {
    padding: 12px;
}
.MuiGrid-grid-md-6 {
    flex-grow: 0;
    max-width: 50%;
    flex-basis: 50%;
}
.MuiGrid-item {
    margin: 0;
    box-sizing: border-box;
}
.jss4212 {
    text-align: left;
}
.jss4206 {
    width: calc(100% + 16px);
    cursor: pointer;
    display: flex;
    padding: 10px 8px;
    align-items: center;
    margin-left: -8px;
    margin-right: -8px;
    border-bottom: solid 1px #EDF2F7;
    border-radius: 8px;
    margin-bottom: 4px;
    justify-content: space-between;
}
.jss4207 {
    display: flex;
}
.jss4205 {
    font-weight: 400;
}
.jss4211 {
    color: #718096;
    display: inline-block;
    margin-left: 5px;
}
.jss4208 {
    display: flex;
    font-size: 16px;
    align-items: center;
    font-family: Mt;
    font-weight: 600;
    line-height: 20px;
}
.jss4215 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.jss4226:disabled {
    color: #A0AEC0;
    background-color: #E2E8F0;
}
.MuiIconButton-root.Mui-disabled {
    color: rgba(0, 0, 0, 0.26);
    background-color: transparent;
}
.MuiButtonBase-root.Mui-disabled {
    cursor: default;
    pointer-events: none;
}
.jss4226 {
    color: #A0AEC0;
    background-color: #E2E8F0;
}
.jss4221 {
    width: 32px;
    height: 32px;
    background-color: #EDF2F7;
}
.MuiIconButton-root {
    flex: 0 0 auto;
    color: rgba(0, 0, 0, 0.54);
    padding: 12px;
    overflow: visible;
    font-size: 1.7142857142857142rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
}
.MuiButtonBase-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}
.jss4210 {
    width: 57px;
    display: flex;
    justify-content: center;
}
.jss4215 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.MuiIconButton-label {
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}
.MuiSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.7142857142857142rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}
.MuiTouchRipple-root {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
}
.jss84 {
    display: none;
}
.jssbutton {
    background-color: red;
}
.MuiButton-containedSecondary:hover {
    background-color: rgba(176, 38, 14, 0.985);
}
.jss5 {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
}
.jss145 {
    width: 25%;
    display: flex;
    flex-direction: column;
}
.jss147 {
    display: flex;
    padding: 16px;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 5%);
    border-radius: 8px;
    flex-direction: column;
    background-color: #ffffff;
}
.jss156 {
    display: flex;
    justify-content: space-between;
}
.jss169 {
    padding-top: 16px;
}
.MuiTypography-subtitle1 {
    font-size: 16px;
    font-family: Mt;
    font-weight: 600;
    line-height: 20px;
}
.MuiTypography-subtitle2 {
    font-size: 16px;
    font-family: Mt;
    font-weight: 600;
    line-height: 16px;
}
.jss170 {
    padding-top: 8px;
}
.jss148 {
    padding: 8px 0;
}
.MuiGrid-grid-lg-1 {
    flex-grow: 0;
    max-width: 8.333333%;
    flex-basis: 8.333333%;
}
.MuiGrid-grid-md-1 {
    flex-grow: 0;
    max-width: 8.333333%;
    flex-basis: 8.333333%;
}
.MuiGrid-grid-sm-1 {
    flex-grow: 0;
    max-width: 8.333333%;
    flex-basis: 8.333333%;
}    
.MuiGrid-grid-xs-1 {
    flex-grow: 0;
    max-width: 8.333333%;
    flex-basis: 8.333333%;
}
.MuiGrid-item {
    margin: 0;
    box-sizing: border-box;
}
.jss181 {
    color: #cbd5e0;
    padding: 0;
}
.MuiCheckbox-root {
    color: rgba(0, 0, 0, 0.54);
}
.jss109 {
    padding: 9px;
}
.jss112 {
    top: 0;
    left: 0;
    width: 100%;
    cursor: inherit;
    height: 100%;
    margin: 0;
    opacity: 0;
    padding: 0;
    z-index: 1;
    position: absolute;
}

.jss291 {
    width: 100%;
    height: 100%;
    position: relative;
}

.jss295 {
    opacity: 0;
    transition: opacity 500ms;
}
.jss292 {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 0;
    height: 100%;
    display: flex;
    opacity: 1;
    z-index: 1;
    position: absolute;
    transition: opacity 500ms;
    align-items: center;
    justify-content: center;
}
.jss291 .lazyload-wrapper {
    height: 100%;
}
.jss152 {
    width: 24px;
    height: 24px;
    object-fit: contain;
    margin-left: 7px;
}
.jss181.jss182 {
    color: #00B6F3;
}
.MuiGrid-item  :hover {
    color: #ff3333;
}
.jss294 {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}
.MuiTypography-caption {
    font-size: 17px;
    font-family: Mt;
    font-weight: 400;
    line-height: 22px;
}
.jss183 {
    width: 75%;
    display: flex;
    flex-direction: column;
}
.jss196 {
    width: 100%;
    padding: 0 0 0 24px;
}
.jss197 {
    width: 100%;
    max-height: 132px;
    border-radius: 8px;
}
.jss373 {
    border: 1px solid #FFFFFF;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 5%);
    box-sizing: border-box;
    border-radius: 8px;
}
.jss375 {
    margin-bottom: 16px;
}
.jss377 {
    padding: 16px 16px 4px;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 5%);
    background-color: #ffffff;
}
.jss380 {
    display: flex;
    align-items: center;
}
.jss386 {
    display: flex;
}
.jss404 {
    width: 35%;
}
.jss405 {
    display: flex;
}
.jss406 {
    display: flex;
    align-items: center;
    margin-right: 8px;
}
.jss387 {
    width: 32px;
    height: 32px;
    object-fit: contain;
}
.jss392 {
    color: #1a202c;
    display: flex;
    overflow: hidden;
    margin-left: 8px;
}
.jss407 {
    flex-direction: column;
}
.jss390 {
    color: #1a202c;
    font-size: 18px;
}
.jss391 {
    color: #4A5568;
}
.jss408 {
    width: 30%;
    display: flex;
}
.jss384 {
    color: #1a202c;
    display: flex;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
}
.jss383 {
    color: #4A5568;
}
.jss393 {
    margin: 0 12px;
}
.jss411 {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.jss380 {
    display: flex;
    align-items: center;
}
.jss386 {
    display: flex;
}
.jss413 {
    width: 35%;
}
.jss414 {
    width: 100%;
    display: flex;
    align-items: center;
}
.jss415 {
    width: 45%;
    display: flex;
}
.MuiChip-root {
    color: rgba(0, 0, 0, 0.87);
    border: none;
    cursor: default;
    height: 32px;
    display: inline-flex;
    outline: 0;
    padding: 0;
    font-size: 0.9285714285714286rem;
    box-sizing: border-box;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    align-items: center;
    font-family: Mt;
    white-space: nowrap;
    border-radius: 16px;
    vertical-align: middle;
    justify-content: center;
    text-decoration: none;
    background-color: #e0e0e0;
}
.MuiChip-label {
    overflow: hidden;
    white-space: nowrap;
    padding-left: 12px;
    padding-right: 12px;
    text-overflow: ellipsis;
}
.MuiChip-clickable {
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.jss419 {
    width: 20%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 6px;
    flex-direction: column;
    justify-content: flex-end;
}
.jss398 {
    color: #000000;
    border: 1px solid #000000;
    display: flex;
    padding: 2px 6px;
    font-size: 14px;
    align-items: center;
    border-radius: 4px;
}
.jss388 {
    width: 18px;
    height: 18px;
    object-fit: contain;
    margin-right: 4px;
}
.jss421 {
    display: flex;
    justify-content: center;
}
.jss422 {
    display: flex;
    margin-top: 16px;
    margin-right: 8px;
    flex-direction: column;
}
.jss394 {
    color: #4A5568;
    margin-top: -8px;
    text-align: right;
    line-height: 16px;
    margin-right: 8px;
    text-decoration-line: line-through;
}
.jss395 {
    color: #1a202c;
    font-size: 18px;
    text-align: right;
    line-height: 22px;
    margin-right: 8px;
}

.jss424 {
    color: rgb(253, 253, 253);
    width: 100%;
    border: none;
    height: 40px;
    margin: 0px;
    padding: 6px 8px;
    font-size: 16px;
    min-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    text-transform: none;
    background-color: rgb(255, 51, 51);
    margin-top: 4px;
}
.jss378 {
    width: 90px;
    height: 36px;
    margin-top: 8px;
}
.jss425 {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.jss426 {
    display: flex;
    align-items: center;
}   
.MuiDivider-root {
    border: none;
    height: 1px;
    margin: 0;
    flex-shrink: 0;
    background-color: rgba(0, 0, 0, 0.12);
}
.jss379 {
    color: #EDF2F7;
    height: 1px;
    margin: 12px -16px 8px;
    opacity: 0.7;
}
.jss373:hover {
    border: 1px solid #ff3333;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 5%);
    box-sizing: border-box;
    border-radius: 8px;
}
.jss139 {
    margin: 0px 3px 0px 3px;
}
.jss425 a {
	color : #ffffff;
}
.jss425 a:hover{
	color : #ffffff;
	
}